<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Demo 2</title>
</head>

<body>
    <!-- Bars -->
    <div class="container-fluid p-0" id="some-menu"></div>
    <!--*** BARS END ***-->
    <div class="page-wrapper px-3 ">
        <div>
            <div class="container-fluid  rounded-2 px-0">
                <div class="d-flex justify-content-between bg-color rounded-3 p-3 gap-2 card-shadow">
                    <div class="py-3">
                        <p class="small text-black my-5">May 13,2024 </p>
                        <h2 class="mb-0 text-black">Welcome Admin !</h2>
                        <p class="mb-0 text-black">Always stay updated in your Bus portal</p>
                    </div>
                    <div class="me-2">
                        <img src="uploads/download.png" class="r-img" alt="" width="200px" height="200px" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <a href="/admin_sn" class="text-decoration-none">
                            <div class="d-flex justify-content-between bg-color rounded-3 p-3 gap-2 card-shadow">
                                <div class="">
                                    <h2 class="text-black">Send </h2>
                                    <h2 class="text-black"> Notification !</h2>
                                </div>
                                <div class="me-2">
                                    <img width="136px" height="130px " src="./assets/images/arcticons_messages.png"
                                        alt="" />
                                </div>
                            </div>
                        </a>
                        <a href="/admin_appli" class="text-decoration-none">
                            <div class="d-flex justify-content-between bg-color rounded-3 p-3 gap-2 card-shadow mt-3">
                                <div class="">
                                    <h2 class="mb-lg-5 text-black">Application For Approvel !</h2>

                                </div>
                                <div class="me-2">
                                    <img width="136px" height="110px " src="./assets/images/Frame 35.png" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-8" bis_skin_checked="1">
                        <div class="bg-color card-Shadow rounded-2 mb-3 p-4" bis_skin_checked="1">
                            <div class="flex-between" bis_skin_checked="1">
                                <h3 class="mb-0 text-black ">Notification !</h3>
                            </div>
                            <div class="" bis_skin_checked="1">
                                <div class="row overflow-auto  flex-nowrap" style="height: 258px;" bis_skin_checked="1">
                                    <% notif.forEach(n=>{ %>
                                        <div class="col-lg-3 my-3">
                                            <div class="hello-class card-Shadow rounded-2 mb-3 p-2 "
                                                style="height:200px; width: 200px;" bis_skin_checked="1">

                                                <a href="/dell_ai_notif/<%=n.ain_id%>">
                                                    <img src="assets/images/icons/close.svg" height="10px" width="10px"
                                                        alt="" style="float:right">
                                                </a>


                                                <div class="m-2">

                                                    <h5>
                                                        <%=n.heading %>
                                                    </h5>
                                                    <p style="color: black;">
                                                        <%= notif.note %>
                                                    </p>
                                                    <br>

                                                    <% let fullString=n.update_at.toString(); %>
                                                        <% let desiredPart=fullString.substring(0, 21); %>

                                                            <p style="color: black;">
                                                                <%=desiredPart %>
                                                            </p>
                                                </div>

                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>
            <script src="js/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="assets/js/jquery-3.6.3.min.js"></script>
            <script src="assets/js/bootstrap.bundle.min.js"></script>
            <script src="assets/js/main.js"></script>
            <script src="assets/js/moment.min.js"></script>
            <script src="assets/js/Toggels.js"></script>
            <script>
                $("#some-menu").load("navbars.ejs");
            </script>
            <!-- <div class="container">
                <footer class="mxc">
                    <div class=" mtc rounded-3 p-1 gap-2 bg-color">
                        <h5 class="text-black">CUI Bus Portal</h5>
                    </div>
                </footer>
            </div> -->


</body>


</html>