<!DOCTYPE html>
<html lang="en">

<head> </head>

<body>

    <!-- NAVBAR END-->
    <!--side-bar-->
    <div class="side-menu Shadow-side-nav Animation navbar  " id="side-bar">

        <img src="assets/images/logo1.png" alt="" class="navbar-icon my-2 " height="70px" width="70px">
        <br>
        <span class="hide-show Navigation-title mb-0 d-none mxc2">CAMPUS WHEEL COMSATS</span>

        <div class="overflow">

            <nav class="nav flex-column">

                <ul class="list-unstyled">
                    <!-- Dashboard Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a href="/student_dashboard"
                            class="btn nav-link p-2 Navigation-btn Navigation-active w-100 text-start border-0 small-active"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/Navbar-icons/Home-icon.svg#home-icon"></use>
                            </svg>

                            <span class="hide-show Navigation-title mb-0 d-none">Dashboard</span>


                        </a>
                    </li>
                    <!-- USERS DIV -->

                    <li class="nav-item ps-4 px-3 mb-3">
                        <a class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/nav-user-icon.svg#users-icon"></use>
                            </svg>
                            <span class="hide-show Navigation-title mb-0 d-none">Gallery</span>
                        </a>
                    </li>
                    <!-- Services Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a href="/StuEcard"
                            class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/seasor--icon.svg#seasor-icon"></use>
                            </svg>
                            <span class="hide-show Navigation-title mb-0 d-none">My Card</span>
                        </a>
                    </li>
                    <!-- Categories Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a href="/tracking"
                            class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/categories-icon.svg#categories-icon"></use>
                            </svg>
                            <span class="hide-show Navigation-title mb-0 d-none">Track Bus</span>
                        </a>
                    </li>
                    <!-- Categories Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/categories-icon.svg#categories-icon"></use>
                            </svg>
                            <span class="hide-show Navigation-title mb-0 d-none">Feedback and Support</span>
                        </a>
                    </li>
                    <!-- Bookings Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <svg class="Nav-svg" width="20" height="20">
                                <use href="assets/images/icons/pages-nav-icon.svg#pages-nav-icon"></use>
                            </svg>

                            <span class="hide-show Navigation-title mb-0 d-none">Bookings</span>


                            <svg class="float-end hide-show d-none arrow-icon" width="4.922" height="8.486">
                                <use href="assets/images/icons/Navbar-icons/Arrow-icon.svg#arrow-right"></use>
                            </svg>
                        </a>
                        <ul class="list-unstyled bar m-0 mt-2 hide-show d-none" style="display: none">
                            <li class="mb-1">
                                <a class="Navigation-page-link text-decoration-none d-flex align-items-center" href="#">
                                    <div class="Navigation-dot ms-3"></div>
                                    <span class="ps-3"> Booking Requests </span>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a class="Navigation-page-link text-decoration-none d-flex align-items-center" href="#">
                                    <div class="Navigation-dot ms-3"></div>
                                    <span class="ps-3"> Upcoming Bookings </span>
                                </a>
                            </li>
                            <li class="mb-1">
                                <a class="Navigation-page-link text-decoration-none d-flex align-items-center" href="#">
                                    <div class="Navigation-dot ms-3"></div>
                                    <span class="ps-3"> Booking History</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <!-- Account Div -->
                    <li class="nav-item ps-4 px-3 mb-3">
                        <a href="/student/logout"
                            class="btn nav-link p-2 Navigation-btn w-100 text-start border-0 bg-transparent"
                            id="drop-icon-right1">
                            <img src="./src/logout-03-stroke-rounded.png" width="20" height="20" alt="">
                            <span class="hide-show Navigation-title mb-0 d-none">logout</span>


                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/Toggels.js"></script>

</body>


</html>